{% extends '../index/layout.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center p-3 mt-5" style="background-color: #F4F4F4;">
            <div class="alert alert-success p-5" role="alert">
            You have been registered successfully. <br>
            We have send you a confirmation e-mail address to verify your account. <br>
            Remember: Check your spam folder too.
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}